{% extends 'base.html' %}

{% block content %}
{% load form_filters %}
    <h2>Clinic: {{ clinic.name.value }}</h2>

    <form method="POST" action="edit/">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Clinic Name</label>
            {{ clinic.name|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            {{ clinic.address|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            {{ clinic.phone|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{ clinic.email|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Update Clinic</button>
    </form>

    <hr>

    <h3>Doctors Affiliated</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Office Address</th>
                <th>Working Schedule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Add doctors here -->
            <tr>
                <td>
                    <input type="text" class="form-control" id="doctor_name">
                </td>
                <td>
                    <input type="text" class="form-control" id="office_address">
                </td>
                <td>
                    <input type="text" class="form-control" id="working_schedule">
                </td>
                <td>
                    <a href="#" class="btn btn-success mb-3">Add Doctor Affiliation</a>
                </td>
            </tr>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.office_address }}</td>
                <td>{{ doctor.working_schedule }}</td>
                <td>
                    <a href="{{ clinic.id }}/doctors" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
