{% extends 'base.html' %}

{% block content %}
{% load form_filters %}
{% load crispy_forms_tags %}
    <h2>Doctors</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>NPI</th>
                <th>Name</th>
                <th>Specialties</th>
                <th>Clinics</th>
                <th>Patients</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.npi }}</td>
                <td>{{ doctor.name }}</td>
                <td>{% for procedure in doctor.specialties %}
                    {{ procedure }}<br>
                    {% endfor %}
                </td>
                <td>{{ doctor.clinic_count }}</td>
                <td>{{ doctor.patient_count }}</td>
                <td>
                    <a href="{{ doctor.id }}" class="btn btn-info btn-sm">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="alert alert-info">
    <!-- add new doctor, with ajax post request -->
    <form id="add-doctor" method="POST" action="">
        {% csrf_token %}
        {{ new_doctor|crispy }}
        <p>(options: CL,CR,FI,RC,WH. Each procedure separated by comma)</p>
        <button type="submit" class="btn btn-primary">Add Clinic</button>
    </form>
    </div>

    <div id="responseMessage"></div>

    <script>
        document.getElementById('add-doctor').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the default form submission
            // FIELD: ['id', 'npi', 'name', 'email', 'phone', 'specialties']
            data = {
                name: document.getElementById('id_name').value,
                npi: document.getElementById('id_npi').value,
                email: document.getElementById('id_email').value,
                phone: document.getElementById('id_phone').value,
                specialties: document.getElementById('id_specialties').value
            };
            sdata = JSON.stringify(data)
            fetch(this.action, {
                method: 'POST',
                body: sdata,
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById('responseMessage').innerText = data.message;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
{% endblock %}
