{% extends 'base.html' %}

{% block content %}
{% load form_filters %}
    <h2>Doctor: {{ doctor.name.value }}</h2>

    <form method="POST" action="edit/">
        {% csrf_token %}
        <div class="form-group">
            <label for="npi">NPI</label>
            {{ doctor.npi|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            {{ doctor.name|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{ doctor.email|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            {{ doctor.phone|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="specialties">Specialties (options: CL,CR,FI,RC,WH. Each procedure separated by comma)</label>
            {{ doctor.specialties|add_class:'form-control' }}
        </div>
        <button type="submit" class="btn btn-primary">Update Doctor</button>
    </form>

    <hr>

    <h3>Affiliated Clinics</h3>
    <ul class="list-group mb-4">
        {% for clinic in clinics %}
        <li class="list-group-item">{{ clinic.name }} ({{ clinic.city }}, {{ clinic.state }})</li>
        {% endfor %}
    </ul>

    <h3>Affiliated Patients</h3>
    <ul class="list-group">
        {% for patient in patients %}
        <li class="list-group-item">
            <strong>{{ patient.name }}</strong>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
