{% extends 'base.html' %}

{% block content %}
    {% load form_filters %}
    <h2>Patient: {{ patient.name.value }}</h2>

    <form method="POST" action="edit/">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            {{ patient.name|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            {{ patient.birth_date|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            {{ patient.address|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            {{ patient.phone|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="ssn">Last 4 Digits of SSN</label>
            {{ patient.ssn|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            {{ patient.gender|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Update Patient</button>
    </form>

    <hr>

    <h3>Patient Visits</h3>
    <!-- <a href="#" class="btn btn-success mb-3">Add New Visit</a> -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Visit Date</th>
                <th>Doctor</th>
                <th>Clinic</th>
                <th>Procedures Done</th>
                <th>Doctor's Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
            <tr>
                <td>{{ visit.date }}</td>
                <td>{{ visit.doctor.name }}</td>
                <td>{{ visit.clinic.name }}</td>
                <td>
                    {% for procedure in visit.procedures %}
                    {{ procedure }}<br>
                    {% endfor %}
                </td>
                <td>{{ visit.note }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- session for add new visit, make it smaller-->

    <div class="alert alert-info">
        <h4>Add New Visit</h4>
        <form method="POST" action="visits/">
            {% csrf_token %}
            <!-- fields: 'patient', 'clinic', 'doctor', 'date', 'time', 'procedures', 'note' -->
            <div class="form-group">
                <label for="clinic">Clinic</label>
                {{ visit.clinic|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="doctor">Doctor</label>
                {{ visit.doctor|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="date">Visit Date</label>
                {{ visit.date|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="time">Visit Time</label>
                {{ visit.time|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="procedures">Procedures Done (options: CL,CR,FI,RC,WH. Each procedure separated by comma)</label>
                {{ visit.procedures|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="note">Doctor's Notes</label>
                {{ visit.note|add_class:"form-control" }}
            </div>
            {{ error }}
            <button type="submit" class="btn btn-primary">Add Visit</button>
        </form>
    </div>

    <hr>

    <h3>Next Scheduled Appointment</h3>
    {% if next_appointment %}
        <p>Appointment Date: {{ next_appointment.date }}</p>
        <p>Appointment Time: {{ next_appointment.time }}</p>
        <p>Clinic: {{ next_appointment.clinic.name }}</p>
        <p>Doctor: {{ next_appointment.doctor.name }}</p>
        <p>Procedure: {{ next_appointment.procedure }}</p>
    {% else %}
        <p>No upcoming appointments.</p>
    {% endif %}

    <!-- <a href="#" class="btn btn-info">Schedule Appointment</a> -->
{% endblock %}
