{% extends 'base.html' %}

{% block content %}
    {% load form_filters %}
    <h2>Patient: {{ patient.name.value }}</h2>

    <form method="POST" action="edit/">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            {{ patient.name|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            {{ patient.birth_date|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            {{ patient.address|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            {{ patient.phone|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="ssn">Last 4 Digits of SSN</label>
            {{ patient.ssn|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            {{ patient.gender|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Update Patient</button>
    </form>

    <hr>

    <h3>Patient Visits</h3>
    <!-- <a href="#" class="btn btn-success mb-3">Add New Visit</a> -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Visit Date</th>
                <th>Doctor</th>
                <th>Clinic</th>
                <th>Procedures Done</th>
                <th>Doctor's Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for visit in visits %}
            <tr>
                <td>{{ visit.date }}</td>
                <td>{{ visit.doctor.name }}</td>
                <td>{{ visit.clinic.name }}</td>
                <td>{{ visit.procedures }}</td>
                <td>{{ visit.doctor_notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h3>Next Scheduled Appointment</h3>
    {% if patient.next_appointment %}
        <p>Appointment Date: {{ patient.next_appointment.date }}</p>
        <p>Clinic: {{ patient.next_appointment.clinic.name }}</p>
        <p>Doctor: {{ patient.next_appointment.doctor.name }}</p>
        <p>Procedure: {{ patient.next_appointment.procedure }}</p>
    {% else %}
        <p>No upcoming appointments.</p>
    {% endif %}

    <!-- <a href="#" class="btn btn-info">Schedule Appointment</a> -->
{% endblock %}
