{% extends 'base.html' %}

{% block content %}
{% load form_filters %}
{% load crispy_forms_tags %}
    <h2>Patients</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Last Visit Date</th>
                <th>Last Visit Doctor</th>
                <th>Last Visit Procedures</th>
                <th>Next Appointment Date</th>
                <th>Next Appointment Doctor</th>
                <th>Next Appointment Procedure</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.name }}</td>
                <td>{{ patient.birth_date }}</td>
                <td>{{ patient.last_visit_date }}</td>
                <td>{{ patient.last_visit_doctor }}</td>
                <td>
                    {% for procedure in patient.last_visit_procedures %}
                    {{ procedure }}<br>
                    {% endfor %}
                </td>
                <td>{{ patient.next_appointment_date }}</td>
                <td>{{ patient.next_appointment_doctor }}</td>
                <td>{{ patient.next_appointment_procedure }}</td>
                <td>
                    <a href="{{ patient.id }}" class="btn btn-info btn-sm">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="alert alert-info">
    <!-- add new patient, with ajax post request -->
    <form id="add-patient" method="POST" action="">
        {% csrf_token %}
        {{ new_patient|crispy }}
        <button type="submit" class="btn btn-primary">Add Clinic</button>
    </form>
    </div>

    <div id="responseMessage"></div>

    <script>
        document.getElementById('add-patient').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the default form submission
            // FIELD: ['id', 'name', 'phone', 'address', 'birth_date', 'ssn', 'gender']
            data = {
                name: document.getElementById('id_name').value,
                phone: document.getElementById('id_phone').value,
                address: document.getElementById('id_address').value,
                birth_date: document.getElementById('id_birth_date').value,
                ssn: document.getElementById('id_ssn').value,
                gender: document.getElementById('id_gender').value
            };
            sdata = JSON.stringify(data)
            fetch(this.action, {
                method: 'POST',
                body: sdata,
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById('responseMessage').innerText = data.message;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>

    {% endblock %}
